aws-cdk.core==1.116.0
aws-cdk.aws-iam==1.116.0
aws-cdk.aws-sagemaker==1.116.0
aws-cdk.aws-stepfunctions==1.116.0 
aws-cdk.aws-stepfunctions-tasks==1.116.0 
aws-cdk.aws-sns==1.116.0
aws-cdk.aws-sns-subscriptions==1.116.0
aws-cdk.aws-s3==1.116.0
aws-sam-cli
ipython
pytest
u8darts
jupyterlab
ipywidgets
ipympl
jupyterlab-theme-hale
jedi
pandas
fsspec
s3fs
awswrangler
seaborn
tqdm
aws-sam-cli
sspipe
pandera
tox
coverage
-e .