// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.footer {
  padding: 30px;
  border-top: solid 1px #ccc;

  :global {
    .container {
      display: flex;
      justify-content: center;
    }

    .copyright {
      font-size: 12px;
      color: #999;
    }
  }
}
