// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.header {
  color: #fff;
  border-bottom: 1px solid #ddd;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 20px 20px 30px;
    box-sizing: border-box;

    @media (max-width: 768px) {
      height: auto;
      padding: 20px 0;
      flex-direction: column;
      justify-content: center;
    }
  }

  .userMenu {
    .avatar {
      img {
        margin-right: 10px;
        height: 40px;
        width: 40px;
        border-radius: 50px;
        object-fit: cover;
        background-position: center center;
      }
    }
  }

  .contents {
    color: #2e384d;
    font-size: 28px;
    font-weight: 300;
  }
}
