// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;

  li {
    margin-bottom: 20px;
  }
}
