// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: 0.2s ease-out all;

  &--scrolled {
    background: #232f3e;

    &,
    a {
      color: #fff !important;
    }
  }

  &,
  a {
    color: #fff;
  }

  :global {
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 80px;

      @media (max-width: 768px) {
        height: auto;
        padding: 20px 0;
        flex-direction: column;
        justify-content: center;
        background: #232f3e;
      }
    }

    nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      margin-right: -15px;

      li {
        height: 100%;
        padding: 0 15px;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
