// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.container {
  table {
    // CSS hack to allow filling of table cells
    height: 1px;
  }

  thead {
    th {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1.12px;
      line-height: 14px;
      text-transform: uppercase;
      border: none;
      padding: 5px;

      &,
      span {
        color: #bfc5d2!important;
      }
    }
  }

  tbody {
    td {
      color: #2e384d;
      font-size: 15px;
      letter-spacing: 0;
      line-height: 22px;
    }

    .cell {
      padding: 5px 0;
      border: none;

      .cellInner {
        padding: 10px;
        border: 1px solid #eee;
        height: 100%;
      }

      &:not(:first-child) .cellInner {
        border-left: none;
      }

      &:not(:last-child) .cellInner {
        border-right: none;
      }
    }
  }
}
