// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.container {
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;

  .logo {
    margin-bottom: 50px;
  }
}
