// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  color: #2E384D;

  &--underlined {
    text-decoration: underline;
  }

  &--light {
    color: #fff;
  }
}
