// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

.navListItem {
  transition: 0.2s ease-out all;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  line-height: 18px;

  & > a {
    padding: 25px;
    display: block;
  }

  &,
  & a {
    color: #fff;
  }

  &:before {
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    background: #ffaf20;
    transition: 0.2s ease-out all;
    position: absolute;
  }

  &--active,
  &:hover,
  &:active {
    background: rgba(255, 255, 255, 0.2);
    color: #ffaf20;

    &:before {
      width: 4px;
    }
  }
}
